---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  schemaMarkup?: string[];
}

const { title, description, ogImage, schemaMarkup } = Astro.props;
---

<BaseLayout title={title} description={description} ogImage={ogImage} schemaMarkup={schemaMarkup}>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
